extends layout

block content
  h1=title
  p
    a(href="/")= "Home"
  p 
    a(href="/userlist")= "Search History"
  br
  p Welcome to #{title}
  br
  p Created by:
  p Shantanu Bal
  p Plawan Kumar Rath
  p Christopher Turner