extends layout

block content
    p 
        a(href="/")= "Home"
    p 
        a(href="/about")= "About"
    h1.
        Property Search History
    ul
        each user, i in userlist
            li
                h3= user.username